.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* modules.js */

.App {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  align-items: left;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: right;
  padding: 20px;
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

.dropdown button:hover {
  background-color: #0056b3;
}

.dropdown ul {
  /* list-style-type: none; */
  padding: 0;
  margin: 10px 0 0 0;
  background-color: #b6b1b1;
  border: 1px solid #cbc9c9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdown ul li:hover {
  background-color: #f0f0f0;
}

video {
  flex: left ;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

